# =====================================
# Python
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.env

# Virtual env
venv/
Venv/
ENV/
env/

# =====================================
# Airflow
# =====================================
# Pastas de logs do Airflow
logs/
# Banco de metadados do Airflow (se usar SQLite local)
airflow.db
# Config gerada pelo Airflow
airflow.cfg
# Pastas criadas pelo Airflow Scheduler
unittests.cfg

# =====================================
# Docker
# =====================================
# Volumes locais (se montar pastas externas)
docker_data/
.docker/
.docker-compose/

# =====================================
# VSCode / IDEs
# =====================================
.vscode/
.idea/
